<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie_Revenue_Predictor</title>
</head>
<body style="background-color: rgb(95, 84, 244);">
    <form method="get" action ="/predict">
        <label>Movie Name:</label>
        <input type="text" name ="Movie Name">
        
        <label>Release Period:</label>
        <input type="text" name ="Release Period">
        
        <label>Whether Remake:</label>
        <input type="text" name ="Whether Remake">

        <label>Whether Franchise:</label>
        <input type="text" name ="Whether Franchise">
       
        <label>Genre:</label>
        <input type="text" name ="Genre">
        
        <label>New Actor:</label>
        <input type="text" name="New Actor">
        
        <label>New Director:</label>
        <input type="text" name ="New Director">
        
        <label>New Music Director:</label>
        <input type="text" name="New Music Director">
        
        <label>Lead Star:</label>
        <input type="text" name ="Lead Star">
        
        <label>Director:</label>
        <input type="text" name="Director">
        
        <label>Music Director:</label>
        <input type="text" name ="Music Director">
        
        <label>Number of Screens:</label>
        <input type="text" name="Number of Screens">
        
        <label>Budget INR:</label>
        <input type="text" name ="Budget INR">
        
        <br>
        <br>
        <input type="submit" value ="SUBMIT">
        

    </form>
    <br>
    <br>
    {{result}}
</body>
</html>

